@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Open+Sans:wght@400;600;700&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Ubuntu+Condensed&display=swap');


body{
    font-family: 'Open Sans' , sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
h1, h2, h3, h4, h6{
    font-weight: 600;
}