// Common Color
  $white : #fff;
  $black : #333;
  
// Theme Color
  $link_color: rgb(49, 10, 127);
  $link_hover: rgb(220, 20, 60);
  $border_color: #333;

// btn color
$btn-background: crimson;
$btn_hover: rgb(101, 101, 101);
$btn-color: rgb(255, 255, 255);
$heading_color: rgb(220, 20, 60);

$primary_color: rgb(220, 20, 60);
$bg-gray : rgb(233, 232, 232)